<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre nós</title>
</head>
{% extends 'layout.html' %}

{% block content %}

<h1 style="margin-top: 30px; margin-bottom: 0px; text-align: center;">Entre em contato conosco</h1>

<div class="card shadow-sm" style="padding: 10px; margin: 50px; margin-top: 10px;">
  <form>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Nome Completo</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insira seu nome completo aqui" required>
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
      <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.</div>
    </div>
    
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Assunto</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Sobre o que deseja falar" required>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea required>
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Lembre de mim</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

{% endblock %}
</html>