<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como escolher a bike perfeita para você?</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
{% extends 'layout.html' %}

{% block content %}

<section class="sobre-nos">

    <h2 class="centralizadogrande">Como escolher a bike perfeita para você?</h2>

    <p>Decidir investir em uma bicicleta é, sem dúvidas, uma excelente ideia. No entanto, sabemos que escolher entre os
        diversos tipos de bicicletas disponíveis no mercado pode ser um desafio. Você sabe, por exemplo, o que é uma
        bike gravel?</p>
    <p>Pois bem, saiba que se trata de uma ótima escolha, mas é apenas uma entre muitas. Existem ainda as bikes de
        passeio, as mountain bikes, as speed, até mesmo dobráveis e elétricas!</p>
    <p>Por isso, para que você tome a melhor decisão, levando em conta suas necessidades, elaboramos este artigo para
        explicar tudo o que precisa saber para escolher a bike perfeita para você. Vamos apresentar as características e
        as vantagens de cada modelo e o que observar na hora de comprar. Vamos lá?</p>

    <h2>Quais são os benefícios de andar de bicicleta?</h2>
    <p>Quem tem o costume de andar de bicicleta sabe que se trata de uma atividade que proporciona ganhos em muitas
        áreas da
        vida. Afinal, bicicletas são itens que servem a diversas finalidades.</p>
    <p>Primeiramente, é uma excelente forma de inserir uma atividade física de qualidade na sua rotina sem ter que
        reservar
        um momento exclusivo para isso: seja uma pedalada de leve ao entardecer, recebendo a brisa no rosto e admirando
        a
        paisagem, seja uma rápida ida ao mercado para comprar os itens para o jantar, você já pode dizer que o exercício
        do
        dia está pago!</p>
    <p>Além dos ganhos para a saúde, há ainda a atitude positiva com relação ao meio ambiente. É que andar de bicicleta
        é um
        meio sustentável de se locomover, pois não emite gases poluentes na atmosfera, como acontece com veículos
        automotores — e, de quebra, você não precisa gastar com combustível.</p>
    <p>Existem ainda outros aspectos da vida que são beneficiados por andar de bicicleta:</p>
    <ul>
        <li><b>Força muscular</b>: além de trabalhar os músculos inferiores da perna, os superiores também são ativados para
            manter
            o equilíbrio;</li>
        <li><b>Função cardiorrespiratória</b>: sendo uma atividade aeróbica, melhora o desempenho dos pulmões e do coração,
            aprimorando o transporte de oxigênio e nutrientes pelo organismo;</li>
        <li><b>Coordenação motora</b>: nosso corpo aciona vários grupos musculares de maneira coordenada para nos manter em
            equilíbrio em cima da bike, melhorando o domínio e a consciência corporais;</li>
        <li><b>Emagrecimento saudável</b>: o ciclismo queima calorias e acelera o metabolismo do corpo, o que pode reduzir o
            acúmulo de gordura, promovendo um processo saudável de emagrecimento;</li>
        <li><b>Sensação de bem-estar</b>: pedalar libera serotonina e endorfina, que são hormônios responsáveis pela sensação
            de
            prazer e bem-estar, logo, podem reduzir o estresse e a ansiedade;</li>
        <li><b>Qualidade do sono</b>: uma vez mais relaxados e menos estressados, a qualidade do sono é melhorada, o que pode
            prevenir as incidências de insônia, por exemplo.</li>
    </ul>

    <p>Portanto, ter uma bicicleta em casa significa obter uma infinidade de vantagens ao alcance das mãos. No entanto,
        é
        preciso que ela seja adequada para suas intenções e necessidades. É sobre isso que falaremos a seguir.</p>

    <h2>Quais são os diferentes tipos de bicicletas disponíveis?</h2>
    <p>É comum ficar com dúvidas na hora de comprar uma bike nova, pois o mercado oferece vários tipos, modelos e
        tamanhos,
        cada um pensado para finalidades diversas.</p>
    <p>Mas não se preocupe. A seguir, vamos detalhar os principais tipos de bicicletas que existem, explicando as
        situações
        em que elas devem ser priorizadas. Vamos lá!</p>

    <h4 style="color: blue;">Bicicleta urbana</h4>
    <p>Também conhecida como bicicleta de passeio, é indicada para quem vai pedalar no dia a dia de áreas urbanas, como
        cidades, ciclovias e parques. Sendo um modelo muito confortável, pode servir tanto para lazer como para se
        locomover
        da casa ao trabalho, à faculdade, ao mercado etc. Uma opção excelente para quem quer praticidade.</p>

    <h4 style="color: blue;">Speed</h4>
    <p>Se você tem interesse em velocidade e performance, a bicicleta speed é a ideal. Elas são projetadas com materiais
        leves e um design mais fino, garantindo excelente desempenho em atividades esportivas e competições. No entanto,
        devido aos pneus mais finos, devem rodar apenas em pistas com asfalto adequado para a prática ou em terrenos
        leves,
        com menos irregularidades, não sendo uma boa pedida para usar como meio de transporte.</p>

    <h4 style="color: blue;">Mountain bike</h4>
    <p>A mountain bike, ou MTB, é uma “bicicleta de montanha” em tradução literal. É um modelo esportivo desenvolvido
        para o
        ciclista que faz percursos em terrenos acidentados e irregulares, com muitos obstáculos no caminho, como trilhas
        em
        montanhas e florestas. Elas oferecem muita segurança, tendo pneus largos com cravos, proporcionando mais
        estabilidade. Podem ser usadas como meio de transporte, mas costumam ser mais pesadas.</p>

    <h4 style="color: blue;">Bicicleta gravel</h4>
    <p>A bike gravel, sem dúvidas, une o que há de melhor nos diversos tipos de bicicletas. Projetada para oferecer
        versatilidade, combina a leveza da bicicleta speed com os pneus largos da MTB e funciona bem em qualquer tipo de
        terreno, como asfalto, estrada de terra e cascalho (inclusive, gravel significa “cascalho” em inglês). Ainda,
        comporta alforjes e bagageiros, sendo uma escolha certeira para qualquer ocasião ou finalidade.</p>

    <h4 style="color: blue;">Bicicleta elétrica</h4>
    <p>A bicicleta elétrica é uma ótima opção de transporte no cotidiano das cidades. Combinando peças mecânicas a um
        motor
        elétrico, ela mantém a velocidade, ajudando em subidas e diminuindo o desgaste físico. Os modelos mais atuais
        contam
        com sistemas de energia limpa e renovável, o que a torna um meio de transporte sustentável.</p>

    <h4 style="color: blue;">Bicicleta dobrável</h4>
    <p>A bicicleta dobrável é excelente para quem não dispõe de muito espaço em casa ou no carro, além de ser útil para
        fazer trajetos híbridos, por exemplo, ir de bike até uma estação de metrô mais distante. Chegando a tamanhos
        bastante compactos quando dobradas, não há desculpas na hora de transportar ou armazenar, sendo uma excelente
        pedida
        para se locomover em áreas urbanas.</p>

    <h2>Como saber o tamanho do aro e do quadro da bicicleta pela altura?</h2>
    <p>Uma vez definido o tipo de bicicleta ideal para você, é importante saber escolher o tamanho do aro e do quadro,
        para
        que ela “caia como uma luva” no seu corpo. Confira os detalhes a seguir.</p>
    <h4>Tamanho do aro</h4>
    <p>Quando pensamos no tamanho perfeito de bicicleta, a primeira coisa a se observar é o tamanho do aro, ou seja, o
        tamanho da roda da bicicleta, medida em polegadas. </p>
    <p>Embora o tamanho do quadro também seja relevante, é o aro que vai definir a distância que a bicicleta terá com
        relação ao chão. Desse modo, relacionar o tamanho do aro com a altura do ciclista é crucial para fazer uma
        escolha
        certeira. </p>
    <p>Sendo assim, se você tem até 1,70 m de altura, prefira os aros 26” e 27,5”. Se você for mais alto do que isso,
        opte
        pelo aro 29”.</p>
    <h4>Tamanho do quadro</h4>
    <p>Para o quadro também é preciso considerar a altura da pessoa que vai utilizar a bicicleta. Vamos apresentar os
        tamanhos gerais em polegadas, no entanto, lembramos que as medidas podem mudar conforme o tipo da bicicleta (por
        exemplo, da MTB para a Speed). Confira:</p>
    <ul>
        <li><b>Quadro S (pequeno) — 15” a 16”</b>: para ciclistas de 1,65 m a 1,71 m;</li>
        <li><b>Quadro M (médio) — 17” a 18”</b>: para ciclistas de 1,72 m a 1,76 m;</li>
        <li><b>Quadro L (grande) — 19”</b>: para ciclistas de 1,77 m a 1,82 m;</li>
        <li><b>Quadro XL (extra grande) — 21”</b>: para ciclistas de 1,83 m a 1,90 m.</li>
    </ul><br>

    <h2>Tem uma bicicleta perfeita para você te esperando!</h2>
    <p>Agora que você já sabe tudo o que observar na hora de escolher a bike perfeita, não tem como errar: juntando suas
        características físicas com os objetivos de uso que você pretende ter, a única coisa que vai faltar é se decidir
        entre as questões estéticas, como combinação de cores e estilizações. </p>
    <p>De qualquer forma, não deixe de considerar a bike gravel como sua escolha, afinal, ela é a queridinha dos
        ciclistas
        que prezam pela versatilidade, sem perder em qualidade. Seja para lazer ou aventuras, você terá inúmeras
        oportunidades de colocar sua bike perfeita para rodar. </p>

</section>

{% endblock %}

</html>