<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/assets/js/script.js" defer></script>
</head>

<body>

    <nav class="menu-nav">
        <div class="logo">
            <img src="../static/album/logo.png" alt="Logo da Empresa" class="logo-img">
            <span class="company-name">SportPro</span>
        </div>
        <ul class="menu-list">
            <li><a href="http://127.0.0.1:5000">Página Inicial</a></li>
            <li><a href="http://127.0.0.1:5000/sobre">Sobre</a></li>
            <li><a href="http://127.0.0.1:5000/contato">Contato</a></li>
            <li><a href="http://127.0.0.1:5000/produtos">Produtos</a></li>
        </ul>
        <div class="social-icons">
            <a href="https://facebook.com" target="_blank"><img src="../static/album/facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com" target="_blank"><img src="../static/album/twitter.png" alt="Twitter"></a>
            <a href="https://instagram.com" target="_blank"><img src="../static/album/instagram.png" alt="Instagram"></a>
        </div>
    </nav>

</body>
</html>