<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodapé</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <footer class="rodape" id="contato">
        <div class="rodape-div">
            <div class="rodape-div-1">
                <div class="rodape-div-1-coluna">
                    <span><b>BikesEMais</b></span>
                    <p>SIA Trecho 5 lote 000 bloco z sala 900 - Guará, Brasília - DF, 70000-010</p>
                </div>
            </div>
    
            <div class="rodape-div-2">
                <div class="rodape-div-2-coluna">
                    <span><b>Contatos</b></span>
                    <p>contato@bikesemais.com</p>
                    <p>+55 63 99200-0000</p>
                    <p>Horário: Seg - Sex, 9h - 18h</p>
                </div>
            </div>
    
            <div class="rodape-div-3">
                <div class="rodape-div-3-coluna">
                    <span><b>Links</b></span>
                    <p><a href="http://127.0.0.1:5000/servicos">Serviços</a></p>
                    <p><a href="http://127.0.0.1:5000/empres">Empresa</a></p>
                    <p><a href="http://127.0.0.1:5000/sobre">Sobre</a></p>
                    <p><a href="http://127.0.0.1:5000/faq">FAQ</a></p>
                </div>
            </div>
    
            <div class="rodape-div-4">
                <div class="rodape-div-4-coluna">
                    <span><b>Outros</b></span>
                    <p>Políticas de Privacidade</p>
                    <p><a href="http://127.0.0.1:5000/termos">Termos de Uso</a></p>
                </div>
            </div>
        </div>
    
        <div class="social-icons">
            <a href="https://facebook.com" target="_blank" aria-label="Facebook"><img src="../static/album/facebook.png" alt="Facebook"></a>
            <a href="https://twitter.com" target="_blank" aria-label="Twitter"><img src="../static/album/twitter.png" alt="Twitter"></a>
            <a href="https://instagram.com" target="_blank" aria-label="Instagram"><img src="../static/album/instagram.png" alt="Instagram"></a>
        </div>
    
        <div class="rodape-direitos">
            <p>&copy; <span id="current-year"></span> BikesEMais. Todos os direitos reservados.</p>
        </div>
    </footer>
    
    <script>
        // Atualiza o ano atual automaticamente
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>

</body>

</html>