<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre nós</title>
  <link rel="stylesheet" href="../static/css/style.css  ">
  
</head>
{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <section class="sobre-nos">
      <h1>Sobre a BikeEMais</h1>
      <p>A BikeEMais é uma empresa dedicada à promoção de um estilo de vida saudável e sustentável através do uso de bicicletas. Desde a nossa fundação, temos trabalhado para oferecer produtos de alta qualidade e serviços excepcionais para ciclistas de todos os níveis, desde iniciantes até profissionais.</p>
      
      <p>Nossa missão é incentivar as pessoas a se locomoverem de maneira mais ecológica e saudável, proporcionando uma alternativa viável ao transporte convencional. Acreditamos que andar de bicicleta não é apenas uma forma de transporte, mas também uma maneira de explorar o mundo, conectar-se com a natureza e promover o bem-estar.</p>
      
      <p>Na BikeEMais, você encontrará uma ampla gama de bicicletas, acessórios e equipamentos, todos escolhidos com cuidado para garantir a melhor experiência para nossos clientes. Além disso, oferecemos serviços de manutenção e reparo, garantindo que sua bicicleta esteja sempre em perfeitas condições.</p>
  
      <p>Nosso compromisso com a qualidade e a satisfação do cliente nos distingue no mercado. Estamos sempre prontos para ajudar você a encontrar a bicicleta perfeita e a maximizar sua experiência sobre duas rodas.</p>
  
      <p>Junte-se a nós na missão de tornar o mundo um lugar mais saudável e sustentável. Pedale com a BikeEMais!</p>
    </section>
    
    <div class="imagens">
      <div class="imagem-item">
        <img src="../static/album/fundador.jpg" alt="Descrição da imagem 1">
        <p>Fundador da BikeEMais</p>
      </div>
      <div class="imagem-item">
        <img src="../static/album/co-fundadora.jpg" alt="Descrição da imagem 2">
        <p>Co-fundadora da BikeEMais</p>
      </div>
      <div class="imagem-item">
        <img src="../static/album/diretora.jpg" alt="Descrição da imagem 3">
        <p>Diretora geral da BikeEMais</p>
      </div>
    </div>
  </div>
{% endblock %}

</html>
